.dashboard {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    
  }
  
  .dashboard h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  
  /* Loading */



  .card {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 10px 0 rgba(#000, .15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}

.card-img {
    padding-bottom: 56.25%;
    position: relative;
}


.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 700;
}

.card-title.skeleton {
    min-height: 28px;
    border-radius: 4px;
}

.card-intro {
    margin-top: .75rem;
    line-height: 1.5;
}

.card-intro.skeleton {
    min-height: 72px;
    border-radius: 4px;
}

.skeleton {
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 40px 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;
}

@keyframes shine {
    to {
        background-position: right -40px top 0;
    }
}


.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  margin-top: 100px;
}


.section {
    width: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    
    
    }
    
    .section:hover {
    background-color: #007bff; 
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    }