.cardP {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    /* max-width: 500px; */
  }
  
  .card-content {
    margin-bottom: 20px;
  }
  
  .card-actions {
    text-align: right;
  }
  


  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }
  
  .button1 {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .button2 {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  .button1:hover {
    background-color: #0062cc;
  }
  .button2:hover {
    background-color: #0062cc;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 1px;
  }
  

   

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  
  
  button:hover > svg {
    color: #007bff;
    transform: scale(1.2);
    }