.guidelines-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .guidelines-header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .guidelines-iframe {
    width: 1300px;
    height: 1000px;
    border: none;
    margin-top: 2rem;
  }
  