.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color:#ECF0F0;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 10px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
}

.green_btn {
	background-color: #000000;
	color: white;
	margin: 10px;
}


/* Responsve */

/* Styles for screens with width up to 600px */
@media only screen and (max-width: 600px) {
	.signup_form_container {
	  flex-direction: column;
	  height: auto;
	}
	.left {
	  border-top-right-radius: 10px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.right {
	  border-top-left-radius: 10px;
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
	}
	.input, .error_msg {
	  width: 100%;
	}
	.white_btn {
		width: 180px;
		height: 50%;
		margin-bottom: 20px;
	  }
	  .green_btn{
		  width: 90%;
		}
  }
  
  /* Styles for screens with width between 601px and 900px */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
	.signup_form_container {
	  flex-direction: column;
	  height: auto;
	}
	.left {
	  border-top-right-radius: 10px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.right {
	  border-top-left-radius: 10px;
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 10px;
	}
  }
  
  /* Styles for screens with width above 900px */
  @media only screen and (min-width: 901px) {
	.signup_form_container {
	  height: 500px;
	}
	.left {
	  border-top-right-radius: 0px;
	  border-bottom-left-radius: 10px;
	  border-bottom-right-radius: 0;
	}
	.right {
	  border-top-left-radius: 0px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0px;
	}
  }
  
  /* Common styles for all screen sizes */
  .signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .signup_form_container {
	width: 90%;
	max-width: 900px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
	  0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }
  
  .left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
  }
  
  .left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
  }
  
  .right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
  }
  
  .form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .form_container h1 {
	font-size: 40px;
	margin-top: 0;
  }
  
  .input {
	outline: none;
	border: none;
	width: 340px;
	padding: 15px;
   
  }


  .password_container {
	position: relative;
  }
  
  .eye_icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
  }