
  .form-group {
    margin-bottom: 10px;
  }
  
 

  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
  .total-score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 150px;
    border: solid 2px rgb(30, 120, 210);
    border-radius: 5px;
    padding: 2px;
  }
  

  .btnAB {
    background-color: #6341c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  
  .btnAB:hover {
    background-color: #d9007b;
  }
  
  .total-scoreAB {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 230px;
    border: solid 2px rgb(30, 180, 210);
    border-radius: 5px;
    padding: 2px;
  }



  .form-group h3 {
    color: #13ab4b;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .form-group h2 {
    color: #138aab;
    margin-top: 5px;
    font-size: 15px;
  }
  

  .drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    z-index: 0;

  }
  
  .drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  #file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }
  
  #file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  #file-input::file-selector-button:hover {
    background: #0d45a5;
  }







  .progress-barx {
    height: 10px;
    width: 350px;
    background-color:#DEE1E1;
    border-radius: 10px;
    /* transition: width 3.3s ease-in-out; */
    position: relative;
   
  }

.progress-bar-fillx {
  height: 10px;
  background-color: #7cb342;
  border-radius: 10px;
  transition: width 3.3s ease-in-out;
}


.progress-bar-notfill {
  height: 100%;
  background-color:#DEE1E1;
  
  border-radius: 10px;
  transition: width 3.3s ease-in-out;
}

.progress-bar-fillx.animated {
  animation: progress-animation 2s ease-in-out;
}



/* styles.css */

.info-banner {
  display: flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  border-left: 0.25rem solid #000; /* Black border on the left side */
  background-color: #f0f0f0; /* Light gray background color */
  padding: 1rem; /* 16px */
}

.info-banner .flex {
  display: flex;
  align-items: center;
  gap: 1rem; /* 16px */
}

.info-banner .icon {
  height: 1.5rem; /* 24px */
  width: 1.5rem; /* 24px */
}

.info-banner .close-icon {
  height: 1.5rem; /* 24px */
  width: 1.5rem; /* 24px */
  cursor: pointer;
}

.info-banner .text {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  margin: 0; /* Remove default margin */
}
